* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
body {
  padding: 0;
  margin: 0;
  background-color: #FAFAFA
}
h2 {
  color: #212121
}
.container {
  display: grid;
  grid-template-columns: 50px 30px auto 40px 50px;
  grid-auto-rows: auto;
}
.form-field {
  display: grid;
  grid-auto-columns: auto;
  grid-column: 3/4;
  justify-items: center;
}
.header {
  justify-items: center;
}
.profile {
  display: grid;
  grid-auto-columns: auto;
  grid-column: 3;
  justify-items: center;
}
